# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [107]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete_test.csv"
student_data_to_load = "Resources/students_complete_test.csv"

# Read School and Student Data File and store into Pandas Data Frames
schools_df = pd.read_csv(school_data_to_load)
students_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [108]:
total_schools = len(schools_df.index)
total_students = len(students_df.index)
total_budget = schools_df["budget"].sum()
avg_math_score = students_df["math_score"].mean()
avg_reading_score = students_df["reading_score"].mean()
percent_passing_math = len(students_df.loc[students_df['math_score'] >= 70]) / total_students
print(f" % passing math is {percent_passing_math}")
percent_passing_reading = len(students_df.loc[students_df['reading_score'] >= 70]) / total_students
print(f" % passing reading is {percent_passing_reading}")

percent_passing_overall = (avg_math_score + avg_reading_score) / 200
print(f" % passing overall is {percent_passing_overall}")

pycityschools_df = pd.DataFrame(
    {"Total Schools":[total_schools],
     "Total Students":[total_students],
     "Total Budget":[total_budget],
     "Average Math Score":[avg_math_score],                                       
     "Average Reading Score":[avg_reading_score],
     "% Passing Math":[percent_passing_math],
     "% Passing Reading":[percent_passing_reading],
     "% Overall Passing Rate":[percent_passing_overall]
    })

pycityschools_df.style.format({"Total Students":"{:,}",
                        "Total Budget": "${:,.2f}", 
                       "Average Math Score": "{:.1f}",               
                       "Average Reading Score": "{:.1f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}",
                       "% Overall Passing Rate": "{:.1%}"})

 % passing math is 0.749808526933878
 % passing reading is 0.8580546336482001
 % passing overall is 0.8043160582078122

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [122]:
# groups by school
by_school_df = school_data_complete.set_index('school_name').groupby(['school_name'])

# school types
types_df = schools_df.set_index('school_name')['type']
#print(f"types_df = {types_df}")
#print("----------------")

# students per school
students_per_school_df = by_school_df['student_name'].count()
#print(f"students_per_school = {students_per_school}")
#print("----------------")

# school budgets
budget_df = schools_df.set_index('school_name')['budget']
#print(f"budget_df = {budget_df}")
#print("----------------")

#per student budget
student_budget_df = schools_df.set_index('school_name')['budget']/schools_df.set_index('school_name')['size']
#print(f"per student budget = {student_budget}")
#print("----------------")

#avg scores by school
average_math_score_schools = by_school_df['math_score'].mean()
average_reading_score_schools = by_school_df['reading_score'].mean()
#print(f"avg math by schools = {average_math_score_schools}")
#print("----------------")
#print(f"avg read score by schools = {average_reading_score_schools}")
#print("----------------")

# % passing scores
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_name'].count()/students_per_school_df
#print(f"pass math = {pass_math}")
#print("----------------")

pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count()/students_per_school_df 
#print(f"pass read = {pass_read}")
#print("----------------")

overall = (pass_math + pass_read) / 2

#overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['student_name'].count()/students_per_school_df 
#print(f"overall = {overall}")
#print("----------------")

school_summary = pd.DataFrame({
    "School Type": types_df,
    "Total Students": students_per_school_df,
    "Per Student Budget": student_budget_df,
    "Total School Budget": budget_df,
    "Average Math Score": average_math_score_schools,
    "Average Reading Score": average_reading_score_schools,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
})
#sch_summary

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [126]:
top_five_schools = school_summary.sort_values("Overall Passing Rate", ascending = False)
top_five_schools.head(5).style.format({
    "Total Students": '{:,}',
    "Total School Budget": "${:,}", 
    "Per Student Budget": "${:.0f}",
    #"Average Math Score": "{:.1%}", 
    #"Average Reading Score": "{:.1%}",         
    "% Passing Math": "{:.1%}", 
    "% Passing Reading": "{:.1%}", 
    "Overall Passing Rate": "{:.2%}"})

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [127]:
bottom_five_schools = school_summary.sort_values("Overall Passing Rate", ascending = True)
bottom_five_schools.head(5).style.format({
    "Total Students": '{:,}',
    "Total School Budget": "${:,}", 
    "Per Student Budget": "${:.0f}",
    #"Average Math Score": "{:.1%}", 
    #"Average Reading Score": "{:.1%}",         
    "% Passing Math": "{:.1%}", 
    "% Passing Reading": "{:.1%}", 
    "Overall Passing Rate": "{:.1%}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [129]:
#creates grade level average math scores for each school 
ninth_math = students_df.loc[students_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = students_df.loc[students_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = students_df.loc[students_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = students_df.loc[students_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

#show and format
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [130]:
#creates grade level average reading scores for each school
ninth_reading = students_df.loc[students_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = students_df.loc[students_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = students_df.loc[students_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = students_df.loc[students_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

#format
reading_scores.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [111]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [134]:
# create spending bins
bins = [0, 585, 615, 645, 675]
group_name = ['< $585', "$585-615", "$615-645", "$645-675"]
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_name)

#group by spending
by_spending = school_data_complete.groupby('spending_bins')

#calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['student_name'].count()/by_spending['student_name'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['student_name'].count()/by_spending['student_name'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['student_name'].count()/by_spending['student_name'].count()

            
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "% Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "% Overall Passing Rate"
]]

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

#formating
scores_by_spend.style.format({'Average Math Score': '{:.3f}', 
                              'Average Reading Score': '{:.3f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '% Overall Passing Rate': '{:.1%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [112]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.